.last-post {
    padding: 2rem 0;
    background-color: $black;

    &__title {
        font-size: 3rem;
        font-weight: normal;
        padding: .3rem .6rem;
        margin-top: 3rem;
    }

    &__post {
        color: $white;
        font-size: 4rem;
        margin-top: 10rem;
        display: inline-block;

        &-date {
            color: $white;
            font-size: 1.4rem;
        }
    }
}