.link {
    color: $black;
    font-weight: bold;
    border: .2rem solid $black;
    border-radius: .2rem;
    padding: .3rem;

    @include responsive(phone){
        margin-top: .5rem;
        display: inline-block;
    }
}