.header {
    position: relative;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

    &__social {
        font-size: 1.8rem;
        float: right;

        &-item {
            margin: 0 .2rem
        }
    }


    &__logo {
        padding: .5rem 1rem;
        background-color: $primary-color;
        font-size: 2rem;
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        font-weight: bold;
        color: $black;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }

    &__menu {
        background-color: $white;
        text-align: center;
        color: $black;
        font-size: 1.8rem;
        padding: .5rem 0;
        font-weight: 500;
        
        &-item {
            display: inline;
            padding: 0 .6rem;
        }
    }
    
    &__brand {
        background-color: $white;
        padding: 3.5rem;
    }
}