.menu {
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: $white;
    z-index: 1000;

    &__logo {
        display: inline-block;
        height: 5rem;
        position: absolute;
        bottom: 0;

        &-img {
            border-radius: 50%;
            height: 100%;
            border: .3rem solid rgba(0, 0, 0, .1);
        }
        &-text {
            font-size: 2rem;
            padding: 0 .8rem;
            font-weight: 500;
            text-decoration: none;
        }
    }

    &__nav {
        display: inline-block;
        padding: .8rem;
        //margin-left: 5%;

        @include responsive(lg){
            margin-left: 5%;
        }
        
        @include responsive(phone){
            margin-left: 10%;
        }

        &-item {
            font-size: 2rem;
            padding: 0 .8rem;
            font-weight: 500;
            text-decoration: none;
        }
    }
    
}