<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A blog by Felipe G.S, focused in get in-depth knowledge of fundamentals/technologies and write about it.Posts abotu javascript ecosystem, software architecture and engineering" >
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <title>
        {% if page.title %}
            {{ page.title }} | {{ theme.title }} - {{ theme.job }}
        {% else %}
            {{ theme.title }} - {{ theme.job }}
        {% endif %}
    </title>
</head>
<body class="body">
    {% include "partials/header.njk" %}

    <section class="main-block">
        <section class="main__content">
            <section class="container main__border">
                {% block maincontent %}{% endblock %}
            </section>
        </section>
    </section>

    {% block mainbody %}{% endblock %}

    {% include "partials/footer.njk" %}

    <script src="/js/main.js"></script>
</body>
</html>