{% extends "default.njk" %}

{% block maincontent %}
    <section>{{__('post.article')}}</section>
    <h1>{{ page.title }}</h1>
{% endblock %}

{% block mainbody %}
    <section class="container">
        <article class="content-box">
            <section class="content-box__content">
                {# <h1>{{ page.title }}</h1> #}
                <i>{{__('post.published')}} {{ date(page.date, 'll') }} | {{ min2read(page.content) }} {{__('post.min_read')}}</i>
                <div style="padding: 3rem"></div>
                {{ page.content }}
            </section>
            <section class="discuss">
                <p class="discuss__text">
                    {{__('post.discuss')}}
                </p>
                <a href="https://mobile.twitter.com/search?q={{ url_for_lang(page.permalink) }}" rel="noreferrer noopener" target="_blank">
                    {{__('post.discuss_twitter')}}
                </a>
            </section>
        </article>
    </section>
{% endblock %}
