.title {
    &__page {
        font-size: 3rem;
        font-weight: normal;
        padding: .3rem .6rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}

.bold {
    font-family: 'ttcommons-bold', sans-serif;
}