---
layout: default
---

<section class="container">
    <article class="content-box">
        <section class="content-box__icon">
            <img src="/img/photo.jpg" class="content-box__thumb">
        </section>
        <section class="content-box__content">
            <h1>{{ theme.title }}</h1>
            <i>{{ theme.job }}</i>
            <p>
                Eu sou um desenvolvedor front-end júnior focado em me desenvolver na criação de Web Apps e sites. Como programador, estou em busca constante de melhores práticas e conhecimento. Gosto de aprender coisas novas, me interesso por desenvolvimento de software e tecnologias front-end (como Javascript, React.js, Design de Interface, TDD).
            </p>
            <p>
                <strong>Contato:</strong>
                <br>
                <a href="https://www.linkedin.com/in/felipegdasilva/" target="_blank" rel="noopener noreferrer">Linkedin</a>
                <br>
                <a href="mailto:felipegdas07@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
            </p>
            <h3>Habilidades Técnicas:</h3>
            <span class="content-box__tag">HTML</span>
            <span class="content-box__tag">CSS</span>
            <span class="content-box__tag">Javascript</span>
            <span class="content-box__tag">React.js</span>
            <span class="content-box__tag">Redux</span>
            <span class="content-box__tag">Responsive Design</span>
            <span class="content-box__tag">UI Design</span>
            <span class="content-box__tag">Nunjucks</span>
            <span class="content-box__tag">Liquid</span>
            <span class="content-box__tag">Markdown</span>
            <span class="content-box__tag">SASS/SCSS</span>  
            <span class="content-box__tag">Bootstrap</span>
            <span class="content-box__tag">Materialize</span>
            <span class="content-box__tag">JQuery</span>
            <span class="content-box__tag">Gulp.js</span>
            <span class="content-box__tag">Webpack</span>
            <span class="content-box__tag">npm</span>
            <span class="content-box__tag">Git</span>
            <span class="content-box__tag">GitHub</span>
            <span class="content-box__tag">Jekyll</span>
            <span class="content-box__tag">Hexo</span>
            <span class="content-box__tag">PHP</span>
            <span class="content-box__tag">OpenCart</span>
            <span class="content-box__tag">Firebase</span>
            <br><br><br>
            <h3>Experiência:</h3>
            
            <h5>Desenvolvedor Web</h5>
            <p><strong>Unica Pharmaceuticals</strong> - Campinas, SP | Junho 2019 - Presente.</p>
            <span class="content-box__tag">HTML</span>
            <span class="content-box__tag">CSS</span>
            <span class="content-box__tag">SCSS</span>
            <span class="content-box__tag">Javascript</span>
            <span class="content-box__tag">jQuery</span>
            <span class="content-box__tag">Bootstrap</span>
            <span class="content-box__tag">Gulp.js</span>
            <span class="content-box__tag">PHP</span>
            <span class="content-box__tag">OpenCart</span>
            <span class="content-box__tag">React.js</span>
            <span class="content-box__tag">Firebase</span>
            <br><br>
            <h5>Desenvolvedor Front-end</h5>
            <p><strong>Sunset Solutions</strong> - Americana, SP | Setembro 2017 - Junho 2019.</p>
            <span class="content-box__tag">HTML</span>
            <span class="content-box__tag">CSS</span>
            <span class="content-box__tag">Javascript</span>
            <span class="content-box__tag">jQuery</span>
        </section>
    </article>
</section>