{% extends "default.njk" %}

{% block maincontent %}
    <section>SOBRE.</section>
{% endblock %}

{% block mainbody %}
    <section class="container">
        <article class="content-box">
            <section class="content-header">
                <section class="content-header__icon">
                    <img src="/img/photo.jpg" class="content-header__thumb">
                </section>
            </section>
            <section class="content-box__content">
                <h1>{{ theme.title }}</h1>
                <h5>{{ theme.job }}</h5>
                    {{ page.content }}
            </section>
        </article>
    </section>
{% endblock %}

