---
layout: default
---

<section class="container">
    <h3 class="title__page"><strong>Blog</strong> | Todas as publicações</h3>
    {% for post in site.posts.sort('date', -1).toArray() %}
        <a class="card__link" href="{{ url_for(post.path) }}" aria-label="{{ post.title }}">
            <article class="card">
                <section class="card__thumb">
                    <i class="{{ post.icon }}"></i>
                </section>
                <section class="card__info">
                    <h3 class="card__post-title">{{ post.title }}</h3>
                    <span class="card__post-date">postado em {{ date(post.date, 'll') }}</span>
                </section>
            </article>
        </a>
    {% endfor %}
</section>