<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Um blog de Felipe G.S, focado no compartilhamento de conteúdo de desenvolvimento web e front-end. Posts sobre CSS, React, TDD, Hexo e muito mais…" >
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <title>
        {% if page.title %}
            {{ page.title }} | {{ theme.title }} - {{ theme.job }}
        {% else %}
            {{ theme.title }} - {{ theme.job }}
        {% endif %}
    </title>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body class="body">
    <header class="menu">
      <section class="container">
        <section class="menu__brand">
            <a href="/" style="height: inherit">
                <section class="menu__logo">
                    <img class="menu__logo-img" src="/img/photo.jpg" alt="Foto do Felipe, um garoto barbudo num fundo de tecido escuro." />
                    <span href="/" class="menu__logo-text bold">Felipe Gustavo</span>
                </section>
            </a>
        </section>
        <nav class="menu__nav">
            <a class="menu__nav-item" href="/about">sobre</a>
            <a class="menu__nav-item" href="/blog">blog</a>
            <a class="menu__nav-item" href="https://github.com/felipegs07" rel="noopener noreferrer" target="_blank">portfólio</a>
        </nav>
        <button type="button" class="menu__dark-mode-btn">Modo Escuro</button>
      </section>
    </header>

    <section class="main-block">
        <div id="particles-js">
            <section class="main__content">
                <section class="container main__border">
                   {% block maincontent %}{% endblock %}
                </section>
            </section>
        </div>
    </section>

    {% block mainbody %}{% endblock %}

    <footer style="text-align: center; font-size: 14px; padding-top: 3rem; width: 100%; padding-bottom: 10px">
        <section class="header__social">
            <a class="footer__social" aria-label="linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/felipegdasilva/">
                Linkedin
            </a>
            <a class="footer__social" aria-label="github" target="_blank" rel="noopener noreferrer" href="https://github.com/felipegs07">
                GitHub
            </a>
            <a class="footer__social" aria-label="email" target="_blank" rel="noopener noreferrer" href="mailto:felipegdas07@gmail.com">
                E-mail
            </a>
        </section>

         <section style="margin-top: 1rem;">
            Feito com S2 e <a href="https://hexo.io" target="_blank" rel="noopener noreferrer">Hexo.io</a>
         </section>
    </footer>

    <script src="/js/particles.js"></script>
    <script>
        particlesJS.load('particles-js', '/particlesjs.json', function() {});
    </script>
    <script src="/js/main.js"></script>
    {% block js %}{% endblock %}
</body>
</html>