<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Um blog de Felipe G.S, focado no compartilhamento de conteúdo de desenvolvimento web e front-end. Posts sobre CSS, React, TDD, Hexo e muito mais…" >
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <title>
        {% if page.title %}
            {{ page.title }} | {{ theme.title }} - {{ theme.job }}
        {% else %}
            {{ theme.title }} - {{ theme.job }}
        {% endif %}
    </title>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    {# <header class="container-full header">
      <section class="header__menu">
          <a rel="noopener noreferrer" href="/about" class="header__menu-item">sobre</a>
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/felipegs07" class="header__menu-item">portfólio</a>
          <a rel="noopener noreferrer" href="/blog" class="header__menu-item">blog</a>
      </section>
      <section class="header__brand">
          <article class="container">
              <a href="/" class="header__logo">Felipe G.S.</a>
              <section class="header__social">
                  <a class="header__social-item" aria-label="linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/felipegdasilva/">
                      <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a class="header__social-item" aria-label="github" target="_blank" rel="noopener noreferrer" href="https://github.com/felipegs07">
                      <i class="fab fa-github"></i>
                  </a>
                  <a class="header__social-item" aria-label="email" target="_blank" rel="noopener noreferrer" href="mailto:felipegdas07@gmail.com">
                      <i class="fas fa-envelope"></i>
                  </a>
              </section>
          </article>
      </section>
    </header> #}
    <header class="menu">
      <section class="container">
        <section class="menu__brand">
            <a href="/" style="height: inherit">
                <section class="menu__logo">
                    <img class="menu__logo-img" src="/img/photo.jpg" alt="Foto do Felipe, um garoto barbudo num fundo de tecido escuro." />
                    <span href="/" class="menu__logo-text bold">Felipe Gustavo</span>
                </section>
            </a>
        </section>
        <nav class="menu__nav">
            <a class="menu__nav-item" href="/about" rel="noopener noreferrer" target="_blank">sobre</a>
            <a class="menu__nav-item" href="/blog" rel="noopener noreferrer" target="_blank">blog</a>
            <a class="menu__nav-item" href="https://github.com/felipegs07" rel="noopener noreferrer" target="_blank">portfólio</a>
        </nav>
      </section>
    </header>
    {{ body }}

    <footer style="text-align: center; font-size: 14px; padding-top: 3rem; width: 100%; padding-bottom: 10px">
        <section class="header__social">
            <a class="header__social-item" aria-label="linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/felipegdasilva/">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="header__social-item" aria-label="github" target="_blank" rel="noopener noreferrer" href="https://github.com/felipegs07">
                <i class="fab fa-github"></i>
            </a>
            <a class="header__social-item" aria-label="email" target="_blank" rel="noopener noreferrer" href="mailto:felipegdas07@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
        </section>

         <section style="margin-top: 1rem;">
            Feito com <i class="fas fa-heart" style="color: #C4170C"></i> e <a href="https://hexo.io" target="_blank" rel="noopener noreferrer">Hexo.io</a>
         </section>
    </footer>

    {% block js %}{% endblock %}
</body>
</html>