---
layout: default
title: teste
---

<section class="main-block">
    <div id="particles-js">
        <section class="main__content">
            <section class="container main__border">
                Eu sou <strong>Felipe G.S</strong>, um desenvolvedor <strong>Front-end</strong> em desenvolvimento. Apaixonado por criar <span>experiências</span> positivas e tornar a vida das pessoas mais <span>simples</span>.
                <br />
                <strong>
                    <a class="link" href="https://www.linkedin.com/in/felipegdasilva/" rel="noopener noreferrer" target="_blank">
                        me conheça.
                    </a>
                </strong>
            </section>
        </section>
    </div>
</section>

<section class="container">
    <h3 class="title__page"><strong>Início</strong> | Últimas publicações</h3>
    {% for post in site.posts.sort('date', -1).toArray() %}
        {% if loop.first %}
            <article class="card card--full">
                {# <section class="card__thumb">
                    <i class="{{ post.icon }}"></i>
                </section> #}
                <section class="card__info">
                    <h3 class="card__post-title">{{ post.title }}</h3>
                    <span class="card__post-info">
                        postado em {{ date(post.date, 'll') }} | 
                        {{ min2read(post.content) }} minutos de leitura
                        <a href="{{ url_for(post.path) }}" class="link" aria-label="{{ post.title }}">ler post</a>
                    </span>
                </section>
            </article>

        {% elif loop.index < 4 %}
            <article class="card">
                {# <section class="card__thumb">
                    <i class="{{ post.icon }}"></i>
                </section> #}
                <section class="card__info">
                    <h3 class="card__post-title">{{ post.title }}</h3>
                    <span class="card__post-info">
                        postado em {{ date(post.date, 'll') }} | 
                        {{ min2read(post.content) }} minutos de leitura
                        <a href="{{ url_for(post.path) }}" class="link" aria-label="{{ post.title }}">ler post</a>
                    </span>
                </section>
            </article>
        {% endif %}
    {% endfor %}
</section>

<section style="text-align: center; margin-top: 3rem;">
    <a href="/blog" class="btn">ver todos os posts</a>
</section>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script>
    particlesJS.load('particles-js', 'particlesjs.json', function() {
        //console.log('particles.js config loaded');
    });
</script>


{% block js %}
    
{% endblock %}