---
layout: default
---

<section class="container">
    <article class="content-box">
        <section class="content-box__icon">
            <i class="{{ page.icon }}"></i>
        </section>
        <section class="content-box__content">
            <h1>{{ page.title }}</h1>
            <i>publicado em {{ date(post.date, 'll') }}</i>
            {{ page.content }}
        </section>
    </article>
</section>