 <footer style="text-align: center; font-size: 14px; padding-top: 3rem; width: 100%; padding-bottom: 10px">
    <section class="header__social">
        <a class="footer__social" aria-label="linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/felipegdasilva/">
            Linkedin
        </a>
        <a class="footer__social" aria-label="github" target="_blank" rel="noopener noreferrer" href="https://github.com/felipegs07">
            GitHub
        </a>
        <a class="footer__social" aria-label="email" target="_blank" rel="noopener noreferrer" href="mailto:felipegdas07@gmail.com">
            Email
        </a>
    </section>

      <section style="margin-top: 1rem;">
        {{__('footer.text')}} <a href="https://hexo.io" target="_blank" rel="noopener noreferrer">Hexo.io</a>
      </section>
</footer>